div.main-container {
    background: linear-gradient(to bottom, #492833, #201C1C);
}
section.drivers {
    flex-direction: column;
    width: 80%;
    margin: auto 10% 1em 10%;
}



/*search bar*/
div.search-container {
    position: relative;
    width: 30%;/*
    margin: auto 35%;*/
}
#searchInput {
    width: 100%;
    padding: 10px;
    color: black;
    border-radius: 5px;
}
#searchInput:focus {
    border: 2px solid #ec2651;
    outline: none;
}
#resetButton {
    position: absolute;
    background-color: transparent;
    border: none;
    right: 1em;
    top: 0.9em;
}
#resetButton i {
    color: #828282;
    cursor: pointer;
    font-size: 1.25em;
}
/*end of search bar*/



ul.driver-container {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    margin-top: 1em;
    position: relative;
}
li.driver {
    background-color: #702929;
    padding: 10px;
    width: 100%;
    display: flex;
    min-height: 50px;
    max-height: 50px;
    gap: 0.5em;
    position: relative;
}
span.fi { /*flag size*/
    width: 2em;
    height: 2em;
}
li.driver input {
    display: none;
}
li.driver:has(input[type="checkbox"]:checked) {
    background-color: #ec2651;
    min-height: 190px;
    max-height: 190px;
}
li.driver label {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
}
div.stats {
    display: none;
    min-height: 125px;
    max-height: 125px;
    width: 100%;
    top: 65px;
    position: absolute;
    background-color: #ec2651;
}
li.driver:has(input[type="checkbox"]:checked) + div.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}