header {
    background-color: black;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    margin: 0;
}
nav {   /*nav tag is placed inside header tag*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}
div.nav-left {
    align-items: center;
}
div.nav-left img {
    width: 90px;
}
div.nav-right {
    display: flex;
    justify-content: right;
    gap: 15px;
    padding-right: 20px;
    white-space: nowrap;    /*to stop line break on "driver profile" button (or any buttons with more than 1 word)*/
    align-items: center;
}
header a:hover {
    color: #c18794;
}
a#active {                      /*this id should be given to the active html page*/
    color: #c18794;
}
a#live-timing {
    background-color: #c18794;
    padding: 8px;
    border-radius: 25px;
    margin-left: 4px;
    transition: 250ms;
}
a:hover#live-timing {
    color: white;
    padding: 12px;
    margin-left: -2px;
    margin-right: -2px;
    transition-duration: 250ms;
}