* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 10vh;
    box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.1);
    background-color: #0a0705;
    z-index: 1;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}
.logo a { /*main logo*/
    font-size: 1.2em;
}
.logo img { /*main logo*/
    width: 5em;
    padding: 10px;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu a {
    display: block;
    padding: 7px 15px;
    font-size: 17px;
    font-weight: 500;
    transition: 0.2s all ease-in-out;
    color: #fff;
}
.menu a:hover {
    opacity: 1;
    color: #c18794;
}
.menu #register {
    background-color: #b03650;
    border-radius: 25px;
    margin: 0 20px 0 10px;
}
.menu #register:hover {
    color: white;
    padding: 10px 18px;     /*increase (default 7px 15px) by 3px*/
    margin: 0 17px 0 7px;  /*decrease (default 0 20px 0 10px) by 3px*/
}
.menu-icon {
    display: none;
    padding-right: 25px;
}
#menu-toggle {
    display: none;
}
#menu-toggle:checked ~ .menu {
    transform: scale(1, 1);
}

@media only screen and (max-width: 730px) {
    .menu {
        flex-direction: column;
        background-color: #0a0705;
        align-items: start;
        position: absolute;
        top: 10vh;
        left: 0;
        width: 100%;
        z-index: 1;
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 0.3s ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    .menu a {
        padding-left: 27px;
    }
    .menu a:hover {
        background-color: #c18794;
        color: white;
    }
    .menu li {
        padding: 15px 0; /*increase for horizontal separation between buttons*/
        width: 100%;
    }
    .menu li:hover {
        background-color: #c18794;
    }
    .menu #register {
        background-color: transparent;
        border-radius: 0px;
        margin: 0 20px 0 0px;
    }
    .menu #register:hover {
        color: white;
        padding: 7px 15px;     
        margin: 0 20px 0 12px; 
    }
    .menu-icon {
        display: block;
        color: #fff;
        font-size: 28px;
        cursor: pointer;
    }
    .logo img { /*main logo*/
        padding: 20px;
        transition: transform 0.3s ease-in-out;;
    }
}