section.register {
    width: 80%;
    margin: 0 10%;
    display: flex;
    flex-direction: column;
}
section.register h2 {
    text-align: center;
}
div.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}
div.championship {
    border: 0.4em solid #492833;
    border-radius: 25px;
    overflow: hidden;
    width: 100%;
    position: relative;
}
div.porsche {
    border: 0.4em solid #492833;
    border-radius: 25px;
    overflow: hidden;
    width: 100%; /*change if another event is added*/
    position: relative;
}
div.container img {
    width: 100%;
    margin-bottom: -10px;
}
section.register span {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2.2em;
    font-weight: 700;
    text-shadow: black 0.1em 0.1em 0.2em;
    transition: all .3s;
    white-space: nowrap;
}
span.champ {
    margin: -20px 0 0 -197px;
    opacity: 0;
}
span.porsche {
    margin: -20px 0 0 -126px;
    opacity: 0;
}
a.champ:hover img.champ {
    filter: blur(2px);
}
a.champ:hover span.champ {
    opacity: 1.0;
}
a.porsche:hover img.porsche {
    filter: blur(2px);
}
a.porsche:hover span.porsche {
    opacity: 1.0;
}



/* MOBILE VIEW */
@media screen and (max-width: 950px) {
    section.register {
        width: 90%;
        margin: 0 5%;
        flex-direction: column;
    }
    section.register h2 {
        margin-bottom: 0.5em;
    }
    div.container {
        flex-direction: column;
        margin-bottom: 1em;
    }
    section.register span {
        font-size: 1.5em;
    }
    span.champ {
        margin: -20px 0 0 -145px;
        opacity: 1;
    }
    span.porsche {
        margin: -20px 0 0 -90px;
        opacity: 1;
    }
    a.champ:hover img.champ {
        filter: none;
    }
    a.porsche:hover img.porsche {
        filter: none;
    }
}