div.main-container {
    background-image: url('/assets/images/background/championship/season2/kyalami/kyalami3.jpg'); /*change*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #0a0705;
}
section.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 70vh;
    background-color: rgba(124, 13, 13, 0.2);
    backdrop-filter: blur(20px);
}
div.register-title {
    background-color: #3d0e18;
    width: 75vw;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 2em;
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.5);
}
div.register-title h1 {
    font-size: 2.3em;
}

div.container {
    display: flex;
    justify-content: center;
    margin: 1em 10em;
    gap: 1em;
}
div.register-card {
    width: 25vw;
    display: flex;
    flex-direction: column;
    background-color: #3d0e18;
    padding: 8px;
    gap: 8px;
    border-radius: 25px;
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.5);
}
div.register-card img {
    width: 100%;
    border-radius: 19px;
}
div.register-subcontainer {
    background-color: #0a0705;
    border-radius: 19px;
    padding: 1em;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
span {
    display: block;
}
span.title {
    font-size: 1.4em;
    font-weight: 700;
}
div.register-card a {
    background-color: #b03650;
    padding: 0.75em;
    border-radius: 25px;
    transition: ease-in-out 0.2s;
}
div.register-card a:hover {
    padding: 0.9em;
    margin-right: -0.15em;
}






/* MOBILE VIEW */
@media screen and (max-width: 1250px) {
    div.register-title {
        width: 100vw;
        border-radius: 0;
    }
    div.container {
        justify-content: center;
        margin: 1em 4em;
        gap: 1em;
    }
    div.register-card {
        width: auto;
    }
}

@media screen and (max-width: 975px) {
    section.register {
        height: auto;
    }
    div.register-title {
        width: 100vw;
        border-radius: 0;
    }
    div.register-title h1 {
        font-size: 1.8em;
    }
    div.container {
        justify-content: center;
        flex-direction: column;
        margin: 1em 8em;
        gap: 1em;
    }
    div.register-card {
        width: auto;
    }
}

@media screen and (max-width: 730px) {
    div.container {
        margin: 1em 1em;
    }
    div.register-title h1 {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 450px) {
    div.main-container {
        background-image: none;
    }
    div.register-title h1 {
        font-size: 1.5em;
    }
    span.title {
        font-size: 16px;
    }
    span {
        font-size: 14px;
    }
    div.register-card a {
        font-size: 14px;
    }
}