section.schedule {
    width: 80%;
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
section.schedule h1 {
    font-weight: 900;
}

/*buttons part*/
div.filters {
    margin-bottom: 1em;
    width: fit-content;
    align-self: center;
}
div.filters form {
    display: flex;
    border: 5px #492833 solid;
    border-radius: 25px;
}
div.separator {
    min-height: 100%;
    border: #492833 2px solid;
}
div.filters input {
    display: none;
}
div.filters label {
    background-color: #c18794;
    padding: 10px;
    cursor: pointer;
    user-select: none
}
input[type="checkbox"]:checked + label {
    background: #9f3f5f;
}
#cc-button-label {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
#past-button-label {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
/*end of buttons part*/

div.schedule-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    padding-bottom: 1em;
}
div.event {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: #492833 0.4em solid;
    border-radius: 25px;
    background-color: black;
    justify-content: space-between;
    overflow: hidden;

    display: block;
}
div.event img {
    width: 100%;
    border-bottom: #492833 0.4em solid;
}
div.event-subcontainer {
    display: flex;
    flex-direction: row;
}
div.event-subcontainer div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-self: center;
}
span.round-span {
    text-align: right;
    font-weight: bold;
}
div.event span {
    padding: 10px;
    font-size: 1.3em;
}
div.event div.championship {
    background-color: #492833;
    min-height: 2.4em;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
}




/* MOBILE VIEW */
@media screen and (max-width: 950px) {
    section.schedule {
        width: 96%;
        margin: 0 2%;
        flex-direction: column;
    }
    div.schedule-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
        padding: 0 1em;
    }

    /*buttons part*/
    div.filters {
        margin-bottom: 1em;
        width: fit-content;
        align-self: center;
    }
    div.filters form {
        display: flex;
        border: 5px #492833 solid;
        border-radius: 25px;
    }
    div.separator {
        min-height: 100%;
        border: #492833 2px solid;
    }
    div.filters input {
        display: none;
    }
    div.filters label {
        background-color: #c18794;
        padding: 10px;
        cursor: pointer;
        user-select: none
    }
    input[type="checkbox"]:checked + label {
        background-color: #975e6a;
    }
    #cc-button-label {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    #past-button-label {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    /*end of buttons part*/
}