table {
    width: 60%;
    margin: 0 20%;
}

section.grid-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    justify-content: center;
}
section.grid-container h1 {     /*change after every event*/
    background-image: url('/assets/images/background/championship/season2/longbeach.jpg');  
    background-position-y: 200%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 2.5em 0;
    font-weight: 900;
    text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}
/*toggle buttons*/

div.buttons-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #975e6a;
    gap: 5em;
}
div.buttons {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}
div.buttons-container label {
    cursor: pointer;    
}
/*
div.round-buttons label {

}*/
/*end of toggle buttons*/

/*standings*/
div.standings-race {
    width: 50%;
    margin: 0 25%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 5px;
    margin-bottom: 50px;
    flex-grow: 1;
}
div.grid-header {
    grid-column: 1/4;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}
div.grid-header#results {
    grid-column: 1/7;
}
div.grid-element {
    border-bottom: 1px solid white;
    text-align: center;
    padding-bottom: 5px;
}
div.grid-title {
    font-weight: 700;
}
/*end of standings*/
/*results*/
div.race-results {
    width: 50%;
    margin: 0 25%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 5px;
    margin-bottom: 50px;
    flex-grow: 1;
}
#round5, #round10 {     /*add a column for endurance (class column)*/
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
div.race-results#round6 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#fastest-lap {
    color: #492833;
}
/*end of results*/




/* MOBILE VIEW */
@media screen and (max-width: 950px) {
    /*standings*/
    div.standings-race {       /*ONLY FOR STANDINGS PAGE*/
        width: 100%;
        margin: 0;
    }
    section.grid-container h1 {     /*change after every event*/
        background-position-y: -4em;
        background-position-x: 20%;
    }
    /*end of standings*/

    /*results*/
    div.race-results {          /*ONLY FOR RESULTS PAGE*/
        width: 100%;
        margin: 0;
        font-size: 0.65em;
    }
    /*end of results*/
}