section.grid-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    justify-content: center;
}
section.grid-container h1 {     /*change after every event*/
    background-image: url('/assets/images/background/abudhabi.jpg');  
    background-position-y: 120%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 2.5em 0;
    font-weight: 900;
    text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}
/*toggle buttons*/
div.season-toggle {
    background-color: #975e6a;
    width: 100%;
    display: flex;
    justify-content: center;
}
div.grid-toggle {
    background-color: #975e6a;
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
div.toggle-button {
    background-color: #975e6a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 66px;
    width: 66px;
}
div.toggle-button:hover {
    background-color: #c18794;
    cursor: pointer;
}
/*#button10 {          change after every event
    background-color: #c18794;
}*/
#round1, #round2, #round3, #round4, #round5, #round6, #round7, #round8, #round9, #round10 { 
    display: none;  /*change after every event*/
}

div.standings-results-filter-container {
    background-color: #975e6a;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 35vh;
    overflow: hidden;
    padding: 2.5vh 0;
    margin-bottom: 3vh;
}
div.standings-results-filter-wrap {
    width: 15vw;
    text-align: center;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
ul.button-list {
    font-size: 1.1em;
    min-height: 10vh;
}
ul.button-list li {
    margin: 2.5vh 0;
    cursor: pointer;
}
div.round-selector ul.button-list li {
    margin: 1vh 0;
}
div.filter-controls {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.filter-controls button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
/*end of toggle buttons*/

/*standings*/
div.standings-race {
    width: 50%;
    margin: 0 25%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 5px;
    margin-bottom: 50px;
    flex-grow: 1;
}
div.grid-header {
    grid-column: 1/4;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}
div.grid-header#results {
    grid-column: 1/7;
}
div.grid-element {
    border-bottom: 1px solid white;
    text-align: center;
    padding-bottom: 5px;
}
div.grid-title {
    font-weight: 700;
}
/*end of standings*/
/*results*/
div.race-results {
    width: 50%;
    margin: 0 25%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 5px;
    margin-bottom: 50px;
    flex-grow: 1;
}
#round5, #round10 {     /*add a column for endurance (class column)*/
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
div.race-results#round6 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#fastest-lap {
    color: #492833;
}
/*end of results*/