/* GLOBAL */
* {
    font-family: 'Inter', sans-serif;
    color: white;
    text-transform: uppercase;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}

/* We generally use 900, 700, 400 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

body {
    background-color: #c18794;
    margin: 0;
    padding: 0;
}
div.main-container {
    width: 100%;
    min-height: 100vh;          /*the following 3 tags are REQUIRED*/
    display: flex;              /*for the actual structure of the page*/
    flex-direction: column;     /*placing the header, section and footer*/
}
/* END OF GLOBAL */



/* SECTION */
section {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
}
section h1 {
    font-size: 50px;
    width: 100%;
    text-align: center;
}
/* END OF SECTION */



/* FOOTER 
footer {
    height: 30vh;
    background-color: #492833;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    font-size: 1.3em;
}
/* END OF FOOTER */