
/* INDEX */
section.index {
    display: flex;
    flex-direction: column;
    background-color: black;
}
/*background image and title*/
div.section-bg-image {
    height: 90vh;
    overflow: hidden;
    background-image: url('/assets/images/background/abudhabi.jpg');  /*change after every event*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: 50%;
}
div.section-title {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
}
span#title {
    font-size: 80px;
    font-weight: 900;
    text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}
span#round {
    font-size: 30px;
    font-weight: 700;
    text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}
/*end of background image and title*/
/*recent events gallery*/
div.events-container {
    margin-top: 50px;
    margin-bottom: 100px;
}
div.gallery-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px;
    width: 30%;
}
div.events-buttons {
    width: 100%;
    display: flex;
}
div.thumbnail img {
    width: 100%;
}
div.watch-button {
    background-color: #492833;
    width: 98%;
    margin: 10px 1%;
    font-size: larger;
    text-align: center;
    transition: 250ms;
    border-radius: 10px;
}
div.watch-button:hover {
    width: 100%;
    margin: 8px 2px;
    padding: 2px;
    transition-duration: 250ms;
}
div.watch-button a {
    display: inline-block;
    width: 100%;
    padding: 10px;
    color: white;
}
ol.flickity-page-dots .dot {
    background: #c18794;
}
/*end of recent events gallery*/
/*about us*/
div.about-content * {
    text-transform: none;
    text-align: center;
}
div.about-us {
    min-height: 100vh;
}
div.about-us p {
    padding-bottom: 0.5em;
    font-size: 1.15em;
}
div.about-us h2 {
    font-size: 35px;
    padding: 1em 0;
}
div.our-team {
    width: 80%;
    margin: 0 10%;
    display: flex;
    justify-content: space-around;
}
div.member {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
div.member img {
    width: 15vw;
}
div.about-us h3 {
    font-size: 25px;
}
span.desc {
    font-style: italic;
}
ul.member-tasks li {
    font-size: 18px;
}
/*end of about us*/
/*instagram*/
div.instagram-container {
    display: flex;
    flex-direction: column;
    background: black;
    max-height: 100vh;
    overflow: hidden;
}
div.instagram-title h1 {
    min-height: 15vh;
}
div.instagram-subcontainer {
    width: 60%;
    margin: 0 20%;
    display: flex;
    flex-direction: row;
}
div.instagram-column {
    width: 33%;
    height: 85vh;
    z-index: 1;
    overflow: hidden;
}
div.instagram-column-fade {
    min-height: 85vh;
    background-image: linear-gradient(0deg,rgba(233,243,254,0) 85%,black 95%),linear-gradient(0deg,black 5%,rgba(255,255,255,0) 15%);
}
div.instagram-column > img {
    width: 100%;
    padding: 1em;
    position: relative;
    top: -85vh;
    z-index: -1;
}
div.instagram-column#ig-1 > img {
    animation: imagesAutoScroll 75s infinite;
}
div.instagram-column#ig-2 > img {
    animation: imagesAutoScroll 60s infinite;
}
div.instagram-column#ig-3 > img {
    animation: imagesAutoScroll 90s infinite;
}
@keyframes imagesAutoScroll {
    0% {top: -95vh}
    50% {top: -210vh}
    100% {top: -95vh}
}
/*end of instagram*/
/* END OF INDEX */






/* STANDINGS AND RESULTS*/
section.grid-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    justify-content: center;
}
section.grid-container h1 {     /*change after every event*/
    background-image: url('/assets/images/background/abudhabi.jpg');  
    background-position-y: 120%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 2.5em 0;
    font-weight: 900;
    text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}
/*toggle buttons
div.season-toggle {
    background-color: #975e6a;
    width: 100%;
    display: flex;
    justify-content: center;
}
div.grid-toggle {
    background-color: #975e6a;
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
div.toggle-button {
    background-color: #975e6a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 66px;
    width: 66px;
}
div.toggle-button:hover {
    background-color: #c18794;
    cursor: pointer;
}
#button10 {          change after every event
    background-color: #c18794;
}
#round1, #round2, #round3, #round4, #round5, #round6, #round7, #round8, #round9, #round10 { 
    display: none;  change after every event
}
*/
div.standings-results-filter-container {
    background-color: #492833;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 12vh;
    overflow: hidden;
    padding: 2.5vh 0;
    margin-bottom: 3vh;
}
div.standings-results-filter-wrap {
    width: 15vw;
    text-align: center;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
ul.button-list {
    font-size: 1.1em;
    min-height: 10vh;
}
ul.button-list li {
    margin: 2.5vh 0;
    cursor: pointer;
}
div.round-selector ul.button-list li {
    margin: 1vh 0;
}
div.filter-controls {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.filter-controls button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
/*end of toggle buttons*/

/*standings*/
div.standings-race {
    width: 50%;
    margin: 0 25%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 5px;
    margin-bottom: 50px;
    flex-grow: 1;
}
div.grid-header {
    grid-column: 1/4;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}
div.grid-header#results {
    grid-column: 1/7;
}
div.grid-element {
    border-bottom: 1px solid white;
    text-align: center;
    padding-bottom: 5px;
}
div.grid-title {
    font-weight: 700;
}
/*end of standings*/
/*results*/
div.race-results {
    width: 50%;
    margin: 0 25%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 5px;
    margin-bottom: 50px;
    flex-grow: 1;
}
#round5, #round10 {     /*add a column for endurance (class column)*/
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
div.race-results#round6 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#fastest-lap {
    color: #492833;
}
/*end of results*/
/* END OF STANDINGS AND RESULTS */






/* SCHEDULE */
section.schedule {
    width: 80%;
    margin: 0 10%;
    display: flex;
    flex-direction: column;
}
section.schedule h1 {
    font-weight: 900;
}
div.schedule-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    padding-bottom: 1em;
}
div.event {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: #492833 0.4em solid;
    border-radius: 25px;
    background-color: black;
    justify-content: space-between;
    overflow: hidden;
}
div.event img {
    width: 100%;
    border-bottom: #492833 0.4em solid;
}
div.event-subcontainer {
    display: flex;
    flex-direction: row;
}
div.event-subcontainer div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-self: center;
}
span.round-span {
    text-align: right;
    font-weight: bold;
}
div.event span {
    padding: 10px;
    font-size: 1.3em;
}
div.event div.championship {
    background-color: #492833;
    min-height: 2.4em;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
}
/* END OF SCHEDULE */





/* SERVERS */
section.servers {
    display: flex;
    flex-direction: column;
    font-size: larger;
}
section.servers h1 {
    font-size: 40px;
}
div.server {
    min-height: 45vh;
    display: flex;
    flex-direction: row;
}
div.server-image {
    width: 50%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
div.server-image#championship {
    background-image: url('/assets/images/special-events/anythingbutcars.jpg');
    background-position-x: right;
    background-position-y: -4em;
}
img.championship-image {
    display: none;
}
div.server-image#casual-races {
    background-image: url('/assets/images/special-events/ascari.jpg');
    background-position-x: center;
    background-position-y: -4em;
}
img.casual-races-image {
    display: none;
}
div.server-image#timetrial {
    background-image: url('/assets/images/special-events/lambo_suzuka_cropped.jpg');
    background-position-x: right;
    background-position-y: bottom;
}
img.timetrial-image {
    display: none;
}
div.server-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    gap: 10px;
}
.server-info p, .server-info li {
    text-transform: none;
}
.server-info > img {
    width: 100%;
    object-fit: cover;
}
div.server-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-transform: none;
    gap: 10px;
}
section.servers table {
    align-self: center;
    width: 90%;
}
table.car-list td {
    text-transform: none;
    text-align: left;
    margin-right: 10px;
}
table td#left {
    text-align: right;
    padding-right: 8px;
}
table td#right {
    text-align: left;
}
div.server-content li {
    list-style-type: disc;
    list-style-position: inside;
    text-align: center;
}
div.timing-buttons {
    display: flex;
    text-align: center;
}
div.timing-buttons a {
    background-color: #492833;
    width: 100%;
    padding: 20px;
    transition: 250ms;
}
div.timing-buttons a:hover {
    background-color: #70394b;
    transition: 250ms;
}
/* END OF SERVERS */





/* REGISTER */
div.form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 30%;
}
div.form img {
    width: 85%;
    border-radius: 10px;
    margin-top: 1em;
    align-self: center;
}
section.register iframe {
    width: 100%;
    min-height: 140vh;
}
/* END OF REGISTER */





/* MOBILE VIEW */
@media screen and (max-width: 950px) {
    /*index*/
    section.index h1 {
        font-size: 2.5em;
    }

    div.section-title { /*change after every event*/
        top: 50%;
    }
    .section-title #title {
        font-size: 2em;
    }
    .section-title #round {
        font-size: 1em;
    }
    div.events-container {
        margin-bottom: 50px;
    }
    div.events-container h1 {
        padding-bottom: 25px;
    }
    div.gallery-cell {
        width: 90%;
    }
    div.section-bg-image {  /*change after every event*/
        background-position-x: 55%;
        background-position-y: 50%;
    }


    /*about part*/
    div.about-content p {
        text-align: justify;
        padding: 0 1em 2em 1em;
    }
    div.about-us {
        min-height: 100vh;
    }
    div.about-us h2 {
        font-size: 2.5em;
    }
    div.our-team {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    div.member {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 4em;
    }
    div.member img {
        width: 60vw;
        align-self: center;
    }
    
    div.about-us h3 {
        font-size: 2em;
    }
    span.desc {
        font-style: italic;
        font-size: 1.3em;
    }
    ul.member-tasks li {
        font-size: 1em;
    }
    

    /*instagram part*/
    div.instagram-container h1 {
        min-height: 5vh;
    }
    div.instagram-subcontainer {
        width: 100%;
        margin: 0 0;
    }/*
    div.instagram-column {
        width: 33%;
    }*/
    div.instagram-column > img {
        padding: 0.4em;
        position: relative;
        top: -150vh;
    }
    div.instagram-column#ig-1 > img {
        animation: imagesAutoScroll 65s infinite;
    }
    div.instagram-column#ig-2 > img {
        animation: imagesAutoScroll 55s infinite;
    }
    div.instagram-column#ig-3 > img {
        animation: imagesAutoScroll 90s infinite;
    }
    @keyframes imagesAutoScroll {
        0% {top: -85vh}
        50% {top: -140vh}
        100% {top: -85vh}
    }
    /*end of index*/

    /*standings*/
    div.standings-race {       /*ONLY FOR STANDINGS PAGE*/
        width: 100%;
        margin: 0;
    }
    section.grid-container h1 {     /*change after every event*/
        background-position-y: -4em;
        background-position-x: 20%;
    }
    /*end of standings*/

    /*results*/
    div.race-results {          /*ONLY FOR RESULTS PAGE*/
        width: 100%;
        margin: 0;
        font-size: 0.65em;
    }
    /*end of results*/

    /*schedule*/
    section.schedule {
        width: 100%;
        margin: 0 0;
        flex-direction: column;
    }
    section.schedule h1 {
        font-weight: 900;
    }
    div.schedule-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
        padding: 0 1em;
    }
    /*end of schedule*/

    /*servers*/
    div.server {
        flex-direction: column;
        font-size: smaller;
        min-height: auto;
    }
    div.server h1 {
        font-size: 30px;
    }
    div.server-image {
        width: 100%;
    }
    div.server-info {
        width: 100%;
    }
    img.championship-image {
        display: block;
        width: 100vw;
        object-fit: cover;
    }
    img.casual-races-image {
        display: block;
        width: 120vw;
        object-fit: cover;
        overflow: hidden;
    }
    img.timetrial-image {
        display: block;
        width: 100vw;
    }
    div.timing-buttons {
        margin-top: -15px;
    }
    div.server-content table {
        font-size: small;
    }
    table td#left {
        width: 35%;
    }
    div.server-content ul {
        margin: 0 10%;
    }
    /*end of servers*/

    /*register*/
    div.form {
        width: 100%;
        margin: 0;
    }
    div.form img {
        width: 90%;
    }
    section.register iframe {
        min-height: 150vh;
        overflow: hidden;
    }
    /*end of register*/
}