
/* INDEX */
section.index {
    display: flex;
    flex-direction: column;
    background-color: black;
}
/*background image and title*/
div.section-bg-image {
    height: 90vh;
    overflow: hidden;
    background-image: url('/assets/images/background/roadatlanta.jpg');  /*change after every event*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: 50%;
}
div.section-title {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
}
span#title {
    font-size: 80px;
    font-weight: 900;
}
span#round {
    font-size: 30px;
    font-weight: 700;
}
/*end of background image and title*/
/*recent events gallery*/
div.events-container {
    margin-top: 50px;
    margin-bottom: 100px;
}
div.gallery-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px;
    width: 30%;
}
div.events-buttons {
    width: 100%;
    display: flex;
}
div.thumbnail img {
    width: 100%;
}
div.watch-button {
    background-color: #492833;
    width: 98%;
    margin: 10px 1%;
    font-size: larger;
    text-align: center;
    transition: 250ms;
    border-radius: 10px;
}
div.watch-button:hover {
    width: 100%;
    margin: 8px 2px;
    padding: 2px;
    transition-duration: 250ms;
}
div.watch-button a {
    display: inline-block;
    width: 100%;
    padding: 10px;
    color: white;
}
ol.flickity-page-dots .dot {
    background: #c18794;
}
/*end of recent events gallery*/
/*instagram*/
div.instagram-container {
    display: flex;
    flex-direction: column;
    background: black;
    max-height: 100vh;
    overflow: hidden;
}
div.instagram-title h1 {
    min-height: 15vh;
}
div.instagram-subcontainer {
    width: 60%;
    margin: 0 20%;
    display: flex;
    flex-direction: row;
}
div.instagram-column {
    width: 33%;
    height: 85vh;
    z-index: 1;
    overflow: hidden;
}
div.instagram-column-fade {
    min-height: 85vh;
    background-image: linear-gradient(0deg,rgba(233,243,254,0) 85%,black 95%),linear-gradient(0deg,black 5%,rgba(255,255,255,0) 15%);
}
div.instagram-column > img {
    width: 100%;
    padding: 1em;
    position: relative;
    top: -85vh;
    z-index: -1;
}
div.instagram-column#ig-1 > img {
    animation: imagesAutoScroll 75s infinite;
}
div.instagram-column#ig-2 > img {
    animation: imagesAutoScroll 60s infinite;
}
div.instagram-column#ig-3 > img {
    animation: imagesAutoScroll 90s infinite;
}
@keyframes imagesAutoScroll {
    0% {top: -95vh}
    50% {top: -210vh}
    100% {top: -95vh}
}
/*end of instagram*/
/* END OF INDEX */






/* STANDINGS AND RESULTS*/
section.grid-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    justify-content: center;
}
section.grid-container h1 {     /*change after every event*/
    background-image: url('/assets/images/background/roadatlanta.jpg');  
    background-position-y: 220%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 2.5em 0;
    font-weight: 900;
}
/*toggle buttons*/
div.grid-toggle {
    background-color: #975e6a;
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
div.toggle-button {
    background-color: #975e6a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 66px;
    width: 66px;
}
div.toggle-button:hover {
    background-color: #c18794;
    cursor: pointer;
}
#button8 {          /*change after every event*/
    background-color: #c18794;
}
#round1, #round2, #round3, #round4, #round5, #round6, #round7, /*#round8,*/ #round9, #round10 { 
    display: none;  /*change after every event*/
}
/*end of toggle buttons*/

/*standings*/
div.standings-race {       /*ONLY FOR STANDINGS PAGE*/
    width: 50%;
    margin: 0 25%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 5px;
    margin-bottom: 50px;
}
div.race-results {          /*ONLY FOR RESULTS PAGE*/
    width: 50%;
    margin: 0 25%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 5px;
    margin-bottom: 50px;
}
div.grid-header {
    grid-column: 1/4;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}
div.grid-header#results {
    grid-column: 1/7;
}
div.grid-element {
    border-bottom: 1px solid white;
    text-align: center;
    padding-bottom: 5px;
}
div#grid-title {
    font-weight: 700;
}
/*end of standings*/
/*results*/
#round5, #round10 {     /*add a column for endurance (class column)*/
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
div.race-results#round6 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#fastest-lap {
    color: #492833;
}
/*end of results*/
/* END OF STANDINGS AND RESULTS */






/* DRIVER PROFILE */
section.driver-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div.driver-card {
    width: 100%;
    padding: 5vh;
    display: flex;
    justify-content: space-between;
    border: 1px solid green;
}
div.driver-card img {
    width: 50%;
}
div.driver-card h1, div.driver-card h2 {
    text-align: left;
    margin: 0;
}
div.driver-card div {
    width: 100%;
}
/* END OF DRIVER PROFILE */






/* SCHEDULE */
section.schedule {
    width: 60%;
    margin: 0 20%;
    display: flex;
    flex-direction: column;
}
section.schedule h1 {
    font-weight: 900;
}
div.schedule-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
}
div.round {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 25px;
    align-items: center;
    text-align: center;
}
div.round .logo {
    padding: -10px;
}
div.round-number {
    font-weight: 700;
}
div.round div {
    width: 25%;
    white-space: nowrap;
}
/* END OF SCHEDULE */





/* SERVERS */
section.servers {
    display: flex;
    flex-direction: column;
    font-size: larger;
}
section.servers h1 {
    font-size: 40px;
}
div.server {
    min-height: 45vh;
    display: flex;
    flex-direction: row;
}
div.server-image {
    width: 50%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
div.server-image#championship {
    background-image: url('/assets/images/background/roadatlanta.jpg');
    background-position-x: center;
    background-position-y: -13em;
    background-size: cover;
}
img.championship-image {
    display: none;
}
div.server-image#casual-races {
    background-image: url('/assets/images/special-events/praga_dubai_cropped.jpg');
    background-position-x: left;
}
img.casual-races-image {
    display: none;
}
div.server-image#timetrial {
    background-image: url('/assets/images/special-events/lambo_suzuka_cropped.jpg');
    background-position-x: right;
    background-position-y: bottom;
}
img.timetrial-image {
    display: none;
}
div.server-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    gap: 10px;
}
.server-info p, .server-info li {
    text-transform: none;
}
.server-info > img {
    width: 100%;
    object-fit: cover;
}
div.server-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-transform: none;
    gap: 10px;
}
div.server-content table {
    align-self: center;
}
table td#left {
    text-align: right;
    padding-right: 8px;
}
table td#right {
    text-align: left;
}
div.server-content ul {
    margin: 0 30%;
}
div.server-content li {
    list-style-type: disc;
    list-style-position: inside;
    text-align: left;
}
div.timing-buttons {
    display: flex;
    text-align: center;
}
div.timing-buttons a {
    background-color: #492833;
    width: 100%;
    padding: 20px;
    transition: 250ms;
}
div.timing-buttons a:hover {
    background-color: #70394b;
    transition: 250ms;
}
/* END OF SERVERS */





/* REGISTER */
div.form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 30%;
}
div.form img {
    width: 85%;
    border-radius: 10px;
    margin-top: 1em;
    align-self: center;
}
section.register iframe {
    width: 100%;
    min-height: 140vh;
}
/* END OF REGISTER */





/* MOBILE VIEW */
@media screen and (max-width: 950px) {
    /*index*/
    div.section-title {
        top: 60%;
    }
    .section-title #title {
        font-size: 2em;
    }
    .section-title #round {
        font-size: 1em;
    }
    div.events-container h1 {
        font-size: 2em;
        padding-bottom: 25px;
    }
    div.gallery-cell {
        width: 90%;
    }
    div.section-bg-image {  /*change after every event*/
        background-position-x: 3%;
        background-position-y: 45%;
    }


    /*instagram part*/
    div.instagram-container h1 {
        font-size: 2em;
        min-height: 5vh;
    }
    div.instagram-subcontainer {
        width: 100%;
        margin: 0 0;
    }/*
    div.instagram-column {
        width: 33%;
    }*/
    div.instagram-column > img {
        padding: 0.4em;
        position: relative;
        top: -150vh;
    }
    div.instagram-column#ig-1 > img {
        animation: imagesAutoScroll 65s infinite;
    }
    div.instagram-column#ig-2 > img {
        animation: imagesAutoScroll 55s infinite;
    }
    div.instagram-column#ig-3 > img {
        animation: imagesAutoScroll 90s infinite;
    }
    @keyframes imagesAutoScroll {
        0% {top: -85vh}
        50% {top: -140vh}
        100% {top: -85vh}
    }
    /*end of index*/

    /*standings*/
    div.standings-race {       /*ONLY FOR STANDINGS PAGE*/
        width: 100%;
        margin: 0;
    }
    section.grid-container h1 {     /*change after every event*/
        background-position-y: 0;
        background-position-x: 15%;
    }
    /*end of standings*/

    /*results*/
    div.race-results {          /*ONLY FOR RESULTS PAGE*/
        width: 100%;
        margin: 0;
        font-size: 0.65em;
    }
    /*end of results*/

    /*schedule*/
    section.schedule {
        width: 100%;
        margin: 0;
    }
    .schedule-container {
        width: 100%;
    }
    div.round {
        font-size: 1em;
        padding: 10px 0;
    }
    div.round .logo {
        display: none;
    }
    /*end of schedule*/

    /*servers*/
    div.server {
        flex-direction: column;
        font-size: smaller;
        min-height: auto;
    }
    div.server h1 {
        font-size: 30px;
    }
    div.server-image {
        width: 100%;
    }
    div.server-info {
        width: 100%;
    }
    img.championship-image {
        display: block;
        width: 100vw;
        object-fit: cover;
    }
    img.casual-races-image {
        display: block;
        width: 120vw;
        object-fit: cover;
        overflow: hidden;
    }
    img.timetrial-image {
        display: block;
        width: 100vw;
    }
    div.timing-buttons {
        margin-top: -15px;
    }
    div.server-content table {
        font-size: small;
    }
    table td#left {
        width: 35%;
    }
    div.server-content ul {
        margin: 0 10%;
    }
    /*end of servers*/

    /*register*/
    div.form {
        width: 100%;
        margin: 0;
    }
    div.form img {
        width: 90%;
    }
    section.register iframe {
        min-height: 150vh;
        overflow: hidden;
    }
    /*end of register*/
}