
/* INDEX */
section.index {
    display: flex;
    flex-direction: column;
    background-color: black;
}
/*background image and title*/
div.section-bg-image {
    height: 90vh;
    overflow: hidden;
    background-image: url('/assets/images/background/nords2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: 50%;
}
div.section-title {
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
}
span#title {
    font-size: 80px;
    font-weight: 900;
}
span#round {
    font-size: 30px;
    font-weight: 700;
}
/*end of background image and title*/
/*recent events gallery*/
div.events-container {
    margin-top: 50px;
    margin-bottom: 100px;
}
div.gallery-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px;
    width: 30%;
}
div.events-buttons {
    width: 100%;
    display: flex;
}
div.thumbnail img {
    width: 100%;
}
div.watch-button {
    background-color: #492833;
    width: 98%;
    margin: 10px 1%;
    font-size: larger;
    text-align: center;
    transition: 250ms;
    border-radius: 10px;
}
div.watch-button:hover {
    width: 100%;
    margin: 8px 2px;
    padding: 2px;
    transition-duration: 250ms;
}
div.watch-button a {
    display: inline-block;
    width: 100%;
    padding: 10px;
}
ol.flickity-page-dots .dot {
    background: #c18794;
}
/*end of recent events gallery*/
/* END OF INDEX */






/* STANDINGS AND RESULTS*/
section.grid-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    justify-content: center;
}
section.grid-container h1 {
    background-image: url('/assets/images/background/nords2.jpg');
    background-position-y: 190%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 2.5em 0;
    font-weight: 900;
}
/*toggle buttons*/
div.grid-toggle {
    background-color: #975e6a;
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
div.toggle-button {
    background-color: #975e6a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 66px;
    width: 66px;
}
div.toggle-button:hover {
    background-color: #c18794;
    cursor: pointer;
}
#button5 {          /*CHANGE AFTER EACH EVENT*/
    background-color: #c18794;
}
#round1, #round2, #round3, #round4, /*#round5,*/ #round6, #round7, #round8, #round9, #round10 { 
    display: none;  /*CHANGE AFTER EACH EVENT*/
}       
/*end of toggle buttons*/

/*standings*/
div.standings-race {       /*ONLY FOR STANDINGS PAGE*/
    width: 50%;
    margin: 0 25%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 5px;
    margin-bottom: 50px;
}
div.race-results {          /*ONLY FOR RESULTS PAGE*/
    width: 50%;
    margin: 0 25%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 5px;
    margin-bottom: 50px;
}
div.grid-header {
    grid-column: 1/4;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}
div.grid-header#results {
    grid-column: 1/7;
}
div.grid-element {
    border-bottom: 1px solid white;
    text-align: center;
    padding-bottom: 5px;
}
div#grid-title {
    font-weight: 700;
}
/*end of standings*/
/*results*/
#round5, #round10 {     /*add a column for endurance (class column)*/
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
#fastest-lap {
    color: #492833;
}
/*end of results*/
/* END OF STANDINGS AND RESULTS */






/* DRIVER PROFILE */
section.driver-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div.driver-card {
    width: 100%;
    padding: 5vh;
    display: flex;
    justify-content: space-between;
    border: 1px solid green;
}
div.driver-card img {
    width: 50%;
}
div.driver-card h1, div.driver-card h2 {
    text-align: left;
    margin: 0;
}
div.driver-card div {
    width: 100%;
}
/* END OF DRIVER PROFILE */






/* SCHEDULE */
section.schedule {
    width: 60%;
    margin: 0 20%;
    display: flex;
    flex-direction: column;
}
section.schedule h1 {
    font-weight: 900;
}
div.schedule-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
}
div.round {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 25px;
    align-items: center;
    text-align: center;
}
div.round .logo {
    padding: -10px;
}
div.round-number {
    font-weight: 700;
}
div.round div {
    width: 25%;
    white-space: nowrap;
}
/* END OF SCHEDULE */





/* MOBILE VIEW */
@media screen and (max-width: 950px) {
    /*index*/
    div.section-title {
        top: 25%;
    }
    .section-title #title {
        font-size: 2em;
    }
    .section-title #round {
        font-size: 1em;
    }
    div.events-container h1 {
        font-size: 2em;
        padding-bottom: 25px;
    }
    div.gallery-cell {
        width: 90%;
    }
    div.section-bg-image {
        background-position-x: 12%;
    }
    /*end of index*/

    /*standings*/
    div.standings-race {       /*ONLY FOR STANDINGS PAGE*/
        width: 100%;
        margin: 0;
    }
    section.grid-container h1 {
        top: 100px;
        background-position-y: -4em;
        background-position-x: -2em;
    }
    /*end of standings*/

    /*results*/
    div.race-results {          /*ONLY FOR RESULTS PAGE*/
        width: 100%;
        margin: 0;
        font-size: 0.65em;
    }
    /*end of results*/

    /*schedule*/
    section.schedule {
        width: 100%;
        margin: 0;
    }
    .schedule-container {
        width: 100%;
    }
    div.round {
        font-size: 1em;
        padding: 10px 0;
    }
    div.round .logo {
        display: none;
    }
    /*end of schedule*/
}